{
  "project_info": {
    "project_number": "REDACTED",
    "project_id": "nefs-zikirleri",
    "storage_bucket": "nefs-zikirleri.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REDACTED:android:REDACTED",
        "android_client_info": {
          "package_name": "com.aistudio.nefszikir.kdhrmq"
        }
      },
      "oauth_client": [
        {
          "client_id": "REDACTED.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "REDACTED_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "REDACTED.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
